@font-face {
  font-family: 'Averta';
  src: url("../../fonts/averta-regular-webfont.eot");
  src: url("../../fonts/averta-regular-webfont.woff2") format("woff2"), url("../../fonts/averta-regular-webfont.woff") format("woff"), url("../../fonts/averta-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/averta-semibold-webfont.eot");
  src: url("../../fonts/averta-semibold-webfont.woff2") format("woff2"), url("../../fonts/averta-semibold-webfont.woff") format("woff"), url("../../fonts/averta-semibold-webfont.ttf") format("truetype");
  font-weight: bold; }

/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* d */
/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
/* container */
.fe-header {
  min-width: 320px; }

/* logo */
.fe-header-logo {
  display: block;
  width: 120px;
  height: 60px;
  background-size: 120px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/logo-light.svg"); }

/* search */
.fe-header-search {
  display: none; }

/* navigation links */
.fe-header-nav {
  position: absolute;
  top: 0;
  right: 18px;
  line-height: normal; }

.fe-header-nav-item {
  margin-top: 7px; }
  .fe-header-nav-item .utk-button-transparent-light {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .fe-header-nav-item .utk-button-transparent-light.utk-dropdown-button {
      max-width: 150px; }

@media only screen and (min-width: 768px) {
  /* hamburger and menu */
  .fe-header-menu {
    display: none; }
  /* search autosuggest */
  .fe-header-search {
    display: inline-block;
    margin: 8px 0 0 18px;
    width: 300px; } }

/* hamburger and menu */
.fe-header-mobile-menu {
  display: inline-block;
  float: left;
  width: 34px;
  height: 34px;
  margin-top: 13px;
  background-image: url(../img/hamburger.svg);
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .fe-header-mobile-menu .utk-nav-drawer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 250px; }
    .fe-header-mobile-menu .utk-nav-drawer .fe-header-logo {
      float: none;
      margin: 0 auto 12px; }
    .fe-header-mobile-menu .utk-nav-drawer .fe-header-mobile-text-item {
      cursor: default; }
      .fe-header-mobile-menu .utk-nav-drawer .fe-header-mobile-text-item p {
        display: block;
        padding: 6px 0;
        color: #fff;
        font-size: 16px;
        line-height: 24px; }
  .fe-header-mobile-menu.fe-header-mobile-menu-is-open .utk-nav-drawer {
    display: block; }

/* container */
.fe-footer {
  background-color: #fff; }
  .fe-footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #ccc; }

/* main content: categories and links */
.fe-footer-panel-main {
  margin-bottom: 18px;
  padding: 0; }

.fe-footer-panel-main-title {
  position: relative;
  padding: 18px 12px;
  border-bottom: 0;
  text-transform: uppercase;
  cursor: pointer; }

.fe-footer-panel-main-title:after {
  content: '';
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -7px;
  width: 0;
  height: 0; }

.fe-footer-panel-main-list {
  padding-bottom: 18px;
  border-bottom: 1px solid #d7d7d7; }
  .fe-footer-panel-main-list > li {
    margin: 0 12px 6px; }

.fe-is-collapsed-sm > .fe-footer-panel-main-title {
  margin: 0;
  border-bottom: 1px solid #d7d7d7; }

.fe-is-collapsed-sm > .fe-footer-panel-main-title:after {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #333; }

.fe-is-collapsed-sm > .fe-footer-panel-main-list {
  display: none; }

:not(.fe-is-collapsed-sm) > .fe-footer-panel-main-title {
  margin: 0 0 6px;
  border-bottom: 0; }

:not(.fe-is-collapsed-sm) > .fe-footer-panel-main-title:after {
  border-top: 7px solid #333;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

/* subscription input and button */
.fe-footer-subscription {
  margin-bottom: 18px;
  left: 0; }

.fe-footer-subscription-form {
  display: table; }
  .fe-footer-subscription-form > * {
    vertical-align: middle; }

.fe-footer-subscription-wrapper {
  display: table-cell;
  width: 100%;
  padding-right: 12px; }

/* iTunes Button */
.fe-footer-mobile-buttons {
  padding: 18px 0 0; }
  .fe-footer-mobile-buttons .fe-mobile-button {
    display: inline-block; }

/* social links */
.fe-footer-panel-social {
  margin-bottom: 24px; }

.fe-social-links-container {
  margin-top: 18px;
  margin-bottom: 18px; }

.fe-footer-social-links {
  text-align: center; }
  .fe-footer-social-links ul {
    display: inline-block; }
    .fe-footer-social-links ul li {
      margin-right: 18px; }

/* legal links */
.fe-footer-panel-legal {
  margin-bottom: 18px;
  text-align: center; }

.fe-footer-legal {
  margin-bottom: 18px;
  font-size: 12px; }

/* copyright */
.fe-footer-copyright {
  text-align: center; }

.fe-footer-copyright .fe-footer-copyright-line2 {
  display: block; }

/* temporary hack before we can rewrite the utk inline list / pipe-list with inline-block elements */
.utk-pipe-list.utk-is-centered > li,
.utk-list-inline.utk-is-centered > li {
  display: inline-block;
  float: none; }

@media only screen and (min-width: 768px) {
  /* container */
  .fe-footer:before {
    margin-bottom: 54px; }
  /* main content: categories and links */
  .fe-footer-panel-main {
    margin-bottom: 48px; }
  .fe-footer-panel-main-title {
    padding: 0;
    border-bottom: 0;
    cursor: default; }
  .fe-footer-panel-main-title:after {
    display: none; }
  .fe-footer-panel-main-list {
    padding-bottom: 0;
    border-bottom: 0; }
    .fe-footer-panel-main-list > li {
      margin: 0 0 6px; }
  .fe-is-collapsed-sm > .fe-footer-panel-main-title,
  :not(.fe-is-collapsed-sm) > .fe-footer-panel-main-title {
    margin: 0 0 18px;
    border-bottom: 0; }
  .fe-is-collapsed-sm > .fe-footer-panel-main-list,
  :not(.fe-is-collapsed-sm) > .fe-footer-panel-main-list {
    display: block; }
  .fe-footer-subscription {
    margin-bottom: 0; }
  .fe-footer-subscription-wrapper {
    width: 234px; }
  /* iTunes Button */
  .fe-footer-mobile-buttons {
    padding-top: 13px;
    display: inline-block;
    float: none;
    width: auto; }
  /* social links */
  .fe-social-links-container {
    display: inline-block;
    width: auto;
    padding-left: 12px;
    padding-top: 19px;
    margin-bottom: 0;
    margin-top: 0; }
  .fe-footer-social-links {
    text-align: right; }
    .fe-footer-social-links ul {
      margin: 0;
      padding: 0; }
  /* legal links */
  .fe-footer-panel-legal {
    text-align: left; }
  .fe-footer-legal {
    margin-top: 0;
    margin-bottom: 0; }
  /* copyright */
  .fe-footer-copyright {
    text-align: right; }
  .fe-footer-copyright .fe-footer-copyright-line2 {
    display: inline; } }

/*** THIS IS A TEMPORARY SOLUTION TO OVERRIDE GENEVA STYLES ***/
/*** THIS WILL BE REMOVED WITH THE REMOVAL OF GENEVA STYLES ***/
.fe-footer-subscription-form input[type="text"] {
  display: block;
  width: 100%;
  height: 44px;
  padding: 12px 12px;
  border: 1px solid #999;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  font-size: 14px;
  line-height: 18px; }
  .fe-footer-subscription-form input[type="text"].utk-is-error {
    color: #d92610;
    border-color: #d92610; }

.fe-footer-subscription-form button,
.fe-footer-subscription-form button:hover,
.fe-footer-subscription-form button:active {
  height: auto;
  padding: 9px 15px;
  line-height: 24px;
  border-radius: 0;
  background-image: none; }

.fe-deprecate-browsers-dialog ul {
  margin: 40px;
  padding: 0;
  list-style: none;
  text-align: center; }
  .fe-deprecate-browsers-dialog ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top; }
    .fe-deprecate-browsers-dialog ul li a {
      display: block;
      width: 80px;
      margin: 0 20px 0;
      padding: 75px 0 0;
      text-align: center;
      background-position: center top;
      background-repeat: no-repeat; }
    .fe-deprecate-browsers-dialog ul li.fe-deprecate-browsers-chrome a {
      background-image: url(../img/browser-chrome.png); }
    .fe-deprecate-browsers-dialog ul li.fe-deprecate-browsers-firefox a {
      background-image: url(../img/browser-firefox.png); }
    .fe-deprecate-browsers-dialog ul li.fe-deprecate-browsers-ie a {
      background-image: url(../img/browser-ie.png); }

.fe-live-agent-online,
.fe-live-agent-offline {
  position: relative;
  min-height: 80px;
  width: 400px;
  padding: 12px 18px; }
  .fe-live-agent-online .utk-input,
  .fe-live-agent-offline .utk-input {
    width: 100%; }
  .fe-live-agent-online textarea.utk-is-small,
  .fe-live-agent-offline textarea.utk-is-small {
    height: 68px;
    resize: none; }
  .fe-live-agent-online .fe-live-agent-start-buttons,
  .fe-live-agent-offline .fe-live-agent-start-buttons {
    margin-bottom: 0; }
  .fe-live-agent-online .utk-l-wrapper-brand,
  .fe-live-agent-offline .utk-l-wrapper-brand {
    position: relative;
    box-sizing: content-box;
    left: -18px;
    top: -12px;
    width: 100%;
    padding: 0 18px; }
    .fe-live-agent-online .utk-l-wrapper-brand:before,
    .fe-live-agent-offline .utk-l-wrapper-brand:before {
      content: "";
      display: block;
      margin: 0;
      width: 80px;
      height: 40px;
      background-size: 80px 28px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/logo-light.svg"); }
  .fe-live-agent-online .fe-live-agent-hide,
  .fe-live-agent-offline .fe-live-agent-hide {
    display: none; }
  .fe-live-agent-online .fe-live-agent-confirmation,
  .fe-live-agent-offline .fe-live-agent-confirmation {
    position: relative;
    height: 485px; }
    .fe-live-agent-online .fe-live-agent-confirmation .fe-live-agent-start-buttons,
    .fe-live-agent-offline .fe-live-agent-confirmation .fe-live-agent-start-buttons {
      position: absolute;
      left: 0;
      bottom: 0; }

/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
.fe-header-logo {
  width: 53px;
  height: 30px;
  margin: 15px auto;
  background-size: 53px auto;
  background-image: url("../img/logo_small.svg"); }

.fe-header .utk-autosuggest-input {
  border: none; }

@media only screen and (min-width: 768px) {
  .fe-header-logo {
    float: left;
    width: 144px;
    height: 30px;
    background-size: 144px auto;
    background-image: url("../img/logo-light.svg"); } }

/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
.fe-footer:before {
  background: -webkit-linear-gradient(left, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%);
  background: linear-gradient(to right, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%); }

/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
.colored-bands:after {
  background: -webkit-linear-gradient(left, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%);
  background: linear-gradient(to right, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%);
  display: block;
  height: 3px; }

.login-field {
  margin-bottom: 12px; }

.fe-popup-subtext {
  text-align: center;
  margin: 12px 0; }

.fe-popup-box h4 {
  margin-bottom: 12px; }

.login-input,
.login-button,
.login-error {
  width: 100% !important;
  margin: 0 auto; }

.fe-popup-box {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px; }

@media only screen and (min-width: 768px) {
  .fe-popup-box {
    width: 296px; } }

@media only screen and (min-width: 1025px) {
  .fe-popup-box {
    width: 296px; } }

/* OLD VARIABLES - TO REMOVE EVENTUALLY */
/* Status Colors */
/* Standard Units */
/* Icon Dimensions (all icons are square) */
/* Text Related Values */
/* Foundation Grid and Responsive Values */
.colored-bands:after {
  background: -webkit-linear-gradient(left, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%);
  background: linear-gradient(to right, #FFE300 0%, #FFE300 33%, #59CF1F 33%, #59CF1F 66%, #0099ED 66%, #0099ED 100%);
  display: block;
  height: 3px; }

.left-collapse {
  padding-left: 0 !important; }

.right-collapse {
  padding-right: 0 !important; }

.disclaimers {
  line-height: 18px;
  padding-top: 6px;
  color: #fff;
  text-align: center; }

.disclaimers label {
  color: #fff;
  font-size: 14px; }

.ca-field {
  margin-bottom: 12px !important; }

.ca-title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 7px; }

.ca-subtitle {
  color: #fff;
  line-height: 21px;
  text-align: center;
  margin-top: 18px; }

.confirm-account p,
.confirm-account h1,
.confirm-account h2,
.confirm-account h3 {
  color: #fff; }

.confirm-account h1,
.confirm-account h2,
.confirm-account h3,
.confirm-account hr {
  margin-bottom: 18px; }

.ca-email-opt-checkbox {
  width: 12px !important;
  margin-right: 6px; }

@media only screen and (min-width: 320px) {
  .email-opt-in {
    margin-left: 0;
    text-align: left;
    margin: 0 auto;
    width: 300px;
    padding-bottom: 6px; }
  .ca-small-stacked {
    margin-top: 12px;
    padding-left: 0;
    padding-right: 0; }
  .ca-field {
    padding: 0;
    margin: 0 auto;
    width: 300px; }
  .ca-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 7px; }
  .disclaimers {
    font-size: 14px;
    padding-top: 6px !important; }
  .disclaimers label {
    font-size: 14px; }
  .ca-input,
  .ca-button,
  .ca-error {
    width: 300px !important;
    margin: 0 auto; } }

@media only screen and (min-width: 768px) {
  .ca-input,
  .ca-button,
  .ca-error {
    width: 100% !important;
    margin: 0 auto; }
  .left-field {
    padding-right: 3px; }
  .right-field {
    padding-left: 9px; }
  .email-opt-in {
    margin-left: 0px;
    text-align: left;
    width: 100% !important; }
  .ca-small-stacked {
    margin-top: 0;
    padding-left: 6px; }
  .ca-field {
    width: 100%; }
  .ca-title {
    width: 500px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 7px; }
  .ca-subtitle {
    font-size: 16px;
    margin-bottom: 42px; } }

@media only screen and (min-width: 1025px) {
  .email-opt-in {
    margin-left: 50px;
    text-align: left; } }
